@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(75,70,159);
    background: linear-gradient(90deg, rgba(75,70,159,1) 0%, rgb(181, 128, 230) 100%);
}

.register-div {
    box-sizing: border-box;
    border: solid 3px #1A1A1A;
    border-radius: 50px;
    height: 90%;
    width: 70%;
    z-index: 1;
    box-shadow: 0px 0px 15px #000;
}

.auth-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-form input {
    outline: none;
    font-size: 30px;
    border: none;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width: 30%;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    
    outline: none;
    border-radius: 10px;
    padding: 20px;
    border: solid 1px;
    border: 0;
    border-bottom: 2px solid #1A1A1A;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 10px 20px;
    background: transparent;
    transition: border-color 0.2s;
    text-shadow: 0px 0px 5px #1A1A1A;
}

.auth-form label {
    margin-top: 20px;
}

button {
    margin-top: 50px;
    background-color: #1A1A1A;
    border: 2px solid #1A1A1A;
    width: 40%;
    border-radius: 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

.back-btn {
    margin-left: 50px;
    margin-top: 50px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validation-message {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 1px #fff;
    font-weight: 700;
    font-size: 16px;
}