<div class="register-div">
    <button class="back-btn" routerLink="">Back</button>
    <form [formGroup]="registerForm" class="auth-form" autocomplete="off">
        <label class="login">Email: </label>
        <input id="login" type="text" formControlName="email" placeholder="youremail@mail.com">
        <div *ngIf="(registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched)"
            class="validation-message">
            Required field
        </div>
        <div *ngIf="(registerForm.get('email')?.invalid && registerForm.get('email')?.touched && !registerForm.get('email')?.errors?.['required'])"
            class="validation-message">
            Enter valid email
        </div>

        <label class="username">Username: </label>
        <input id="username" type="text" formControlName="username" placeholder="_coolname_">
        <div *ngIf="(registerForm.get('username')?.errors?.['minlength'] && registerForm.get('username')?.touched && !registerForm.get('username')?.errors?.['required'])"
            class="validation-message">
            Username must contain more than 5 characters
        </div>
        <div *ngIf="(registerForm.get('username')?.errors?.['maxlength'] && registerForm.get('username')?.touched && !registerForm.get('username')?.errors?.['required'])"
            class="validation-message">
            Username must contain less than 65 characters
        </div>
        <div *ngIf="(registerForm.get('username')?.errors?.['required'] && registerForm.get('username')?.touched)"
            class="validation-message">
            Required field
        </div>

        <label class="password">Password:
        </label>
        <input id="password" type="password" formControlName="password" placeholder="******">
        <div *ngIf="(registerForm.get('password')?.errors?.['invalidPassword'] && registerForm.get('password')?.touched && !registerForm.get('password')?.errors?.['required'])"
            class="validation-message">
            Password requires at least 1 number
        </div>
        <div *ngIf="(registerForm.get('password')?.errors?.['invalidPasswordUpperCase'] && registerForm.get('password')?.touched && !registerForm.get('password')?.errors?.['required'])"
            class="validation-message">
            Password requires at least 1 uppercase letter
        </div>
        <div *ngIf="(registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched)"
            class="validation-message">
            Required field
        </div>
        <div *ngIf="((registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched)
         && !registerForm.get('password')?.errors?.['required'])" class="validation-message">
            Password must contain more than 7 characters
        </div>
        <div *ngIf="((registerForm.get('password')?.errors?.['maxlength'] && registerForm.get('password')?.touched)
         && !registerForm.get('password')?.errors?.['required'])" class="validation-message">
            Password must contain less than 65 characters
        </div>

        <label class="password">Password confirm: </label>
        <input id="passwordReenter" type="password" formControlName="passwordReenter" placeholder="******">
        <div *ngIf="registerForm.get('password')?.value !== registerForm.get('passwordReenter')?.value && registerForm.get('passwordReenter')?.touched"
            class="validation-message">
            Passwords are not the same
        </div>
        <div *ngIf="(registerForm.get('passwordReenter')?.errors?.['required'] && registerForm.get('passwordReenter')?.touched)"
            class="validation-message">
            Required field
        </div>
        <label class="phone">Phone number(optional): </label>
        <input id="phone" type="text" formControlName="phoneNum" placeholder="+375000000000">
        <div *ngIf="registerForm.get('phoneNum')?.errors?.['invalidInput'] && registerForm.get('phoneNum')?.value !== '+' && registerForm.get('phoneNum')?.value !== ''"
            class="validation-message">
            Number should not contain any characters
        </div>
        <div *ngIf="registerForm.get('phoneNum')?.errors?.['invalidFormat'] && registerForm.get('phoneNum')?.value !== ''"
            class="validation-message">
            Number should contain '+' at the first place
        </div>
        <div *ngIf="(registerForm.get('phoneNum')?.errors?.['minlength'] || registerForm.get('phoneNum')?.errors?.['maxlength']) && registerForm.get('phoneNum')?.value !== ''
         && registerForm.get('phoneNum')?.value !== '+'" class="validation-message">
            Number should be between 9 and 15 characters
        </div>

        <button class="register-btn" (click)=" register()">Register</button>
    </form>
</div>