:host {
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 20px;
}

.pop-up-table {
	top: 25px;
	position: fixed;
	border: solid 5px black;
	box-shadow: 0px 0px 15px #000;
	background-color: #262626;
	padding: 5px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 30px;
	z-index: 1;
}

.pop-up-table table tr {
	width: 100%;
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cancel-div {
	width: 97%;
	text-align: right;
    cursor: pointer;
}

.pop-up-table .property-td {
	text-align: left;
}


.pop-up-table .value-td {
	text-align: right;
}