<div class="table" *ngIf="users | async as userList">

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Username</td>
                <td>Password</td>
                <td>Birth Date</td>
            </tr>  
        </thead>
        <tbody> 
            <tr *ngFor="let user of userList.users; index as i" (click)="popUp(i)">
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.birthDate}}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="paging">
        <a *ngFor="let i of pageArray; index as j" (click)="changePage(j)">{{j + 1}}</a>     
        <div class="select">
            <select class="select-page" [formControl]="selectControl">
                <option [value]="10">10</option>
                <option [value]="20">20</option>
                <option [value]="50">50</option>
            </select>
        </div>        
    </div>

    <div *ngIf="isPopUp" class="pop-up-table">             
        <div class="cancel-div" (click)="cancel()">✘</div>
        <img src="{{userList.users[getIndex()].image}}">
        <table>
            <tr>
                <td class="property-td">ID:</td>
                <td class="value-td">{{userList.users[getIndex()].id}}</td>
            </tr>
            <tr>
                <td class="property-td">First Name:</td>
                <td class="value-td">{{userList.users[getIndex()].firstName}}</td>
            </tr>
            <tr>
                <td class="property-td">Last Name:</td>
                <td class="value-td">{{userList.users[getIndex()].lastName}}</td>
            </tr>
            <tr>
                <td class="property-td">Username:</td>
                <td class="value-td">{{userList.users[getIndex()].username}}</td>
            </tr>
            <tr>
                <td class="property-td">Password:</td>
                <td class="value-td">{{userList.users[getIndex()].password}}</td>
            </tr>
            <tr>
                <td class="property-td">Birth Date:</td>
                <td class="value-td">{{userList.users[getIndex()].birthDate}}</td>
            </tr>
            <tr>
                <td class="property-td">Age:</td>
                <td class="value-td">{{userList.users[getIndex()].age}}</td>
            </tr>
            <tr>
                <td class="property-td">Email:</td>
                <td class="value-td">{{userList.users[getIndex()].email}}</td>
            </tr>
            <tr>
                <td class="property-td">Weight:</td>
                <td class="value-td">{{userList.users[getIndex()].weight}}</td>
            </tr>
            <tr>
                <td class="property-td">Height:</td>
                <td class="value-td">{{userList.users[getIndex()].height}}</td>
            </tr>
        </table>
    </div>

</div>