<div class="table">
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Username</td>
                <td>Password</td>
                <td>Birth Date</td>
            </tr>  
        </thead>
        <tbody *ngIf="users"> 
            <tr *ngFor="let user of users.users; index as i" (click)="popUp(i)">
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.birthDate | date}}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="paging">
        <a *ngFor="let i of pageArray; index as j" (click)="changePage(j)">
            <div class="selected-div-page" *ngIf="isSelectedPage(j)">
                {{j + 1}}
            </div>
            <div *ngIf="!isSelectedPage(j)">
                {{j + 1}}
            </div>
        </a>     
        <div class="select">
            <select class="select-page" [formControl]="selectControl">
                <option [value]="10">10</option>
                <option [value]="20">20</option>
                <option [value]="50">50</option>
            </select>
        </div>        
    </div>
    <app-pop-up-window *ngIf="isPopUp" (cancelEvent)="cancel()"></app-pop-up-window>
</div>