<table class="table">
    <div *ngIf="users | async as userList">
    <tr class="header">
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Username</td>   
        <td>Password</td>
        <td>Birth Date</td>
    </tr>
        <tr *ngFor="let user of userList.users" class="user">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.birthDate}}</td>
        </tr>
    </div>
</table>