@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

:root {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 25px;
    color: #fff;
    text-shadow: 0px 0px 5px black;
    font-weight: 600;
    background: rgb(75,70,159);
    background: linear-gradient(90deg, rgb(54, 50, 129) 0%, rgba(86,68,189,1) 8%,
        rgba(41,85,136,1) 15%, rgba(31,105,89,1) 25%, rgba(33,122,67,1) 33%,
        rgba(59,135,37,1) 44%, rgba(69,138,31,1) 54%, rgba(140,136,36,1) 68%,
        rgba(157,117,41,1) 79%, rgba(185,83,50,1) 87%, rgba(177,49,49,1) 100%);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}