<div *ngIf="userInfo" class="table">
    <div class="userData">
        <div>email:</div>
        <div>firstName:</div>
        <div>gender:</div>
        <div>id:</div>
        <div>lastName:</div>
        <div>username:</div>
    </div>
    <div class="userData">
        <div>{{userInfo.email}}</div>
        <div>{{userInfo.firstName}}</div>
        <div>{{userInfo.gender}}</div>
        <div>{{userInfo.id}}</div>
        <div>{{userInfo.lastName}}</div>
        <div>{{userInfo.username}}</div>
    </div>
</div>

<div *ngIf="registerUser" class="table">
    <div class="userData">
        <div>email:</div>
        <div>username:</div>
    </div>
    <div class="userData">
        <div>{{registerUser.email}}</div>
        <div>{{registerUser.username}}</div>
    </div>
</div>